.navbar {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 1rem !important;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 200;
}

.nav-link {
  font-weight: 600 !important;
}