.navbar-1 {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  background-color: #ffffff;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 200;
}

a, .nav-items {
  display: flex;
  list-style: none;
  gap: 1em;
  padding: 1.5em;
  margin: 0;
}

.nav-link {
  font-weight: 600 !important;
}