@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.section-pair {
  background-color: #ffffff;
}

.section-odd {
  background-color: #fafafa;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
}

.title {
  color: #ffffff;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 400;
  background-color: #1877f2;
  padding: 10px 15px;
}

@media (max-width: 768px) {
  section {
    padding: 8rem 2rem;
  }
}